
<div class="item-content item-spacing" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="fill" fxFlex>
        <mat-label>Zip Code</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="item-content" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="fill" fxFlex>
        <mat-label>Address</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="item-content" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="fill" fxFlex="48">
        <mat-label>Number</mat-label>
        <input matInput>
    </mat-form-field>
    <div fxFlex="4">
    </div>
    <mat-form-field appearance="fill" fxFlex="48">
        <mat-label>Complement</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="item-content" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" >Receive at home</button>
</div> 