<div class="item-spacing light-grey-border-bottom-color">
</div>
<div class="item-content light-grey-border-bottom-color" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10">
        <mat-icon [svgIcon]="icons.pin"></mat-icon>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start">
        <div class="heading3-regular">
            Jardins
        </div>
        <div class="body2">
            Alameda Lorena, 650
        </div>
        <div class="body2">
            São Paulo / SP
        </div>
    </div>
    <div fxFlex="10">
        <mat-radio-button color="primary" [checked]="1?false:false"></mat-radio-button>
    </div>
</div>

<div class="item-content light-grey-border-bottom-color" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10">
        <mat-icon [svgIcon]="icons.pin"></mat-icon>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start">
        <div class="heading3-regular">
            Jardins
        </div>
        <div class="body2">
            Alameda Lorena, 650
        </div>
        <div class="body2">
            São Paulo / SP
        </div>
    </div>
    <div fxFlex="10">
        <mat-radio-button color="primary" [checked]="1?false:false"></mat-radio-button>
    </div>
</div>

<div class="item-content item-spacing" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary">OK</button>
</div>