.content{
    text-align: center;
    padding: 10px;
}

.title{
    padding: 10px;
}

.date-icon{
}

.box-day{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.address{
    padding-bottom: 10px;
}

.address-title{
    padding-bottom: 5px;
}

.address-pin{
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background-image: url("../../../../assets/imgs/maps.png");
}

.address-description{
    text-align: start;
}

.payment-description{
    text-align: start;
}

button{
    width: 100%;
}
.space{
    width: 7px;
}