mat-icon {
    width: 40px;
    height: 40px;
}
.catalog {
    text-align: center;
    height: 50px;
}
.content {
    padding: 20px;
}
button {
    margin-bottom: 10px;
}
.img-logo {
    padding: 5px;
    width: 180px;
}
.b-main-catalog {
    margin-top: 10px;
}
.div-line {
    height: 2px;
    background: linear-gradient(90deg, rgb(236, 236, 236) 5%, rgb(189 197 205) 51%, rgb(236, 236, 236) 96%);
}
.div-app-version {
    position: absolute;
    bottom: 3px;
    left: 3px;
}
