mat-tab-group{
    margin-bottom: 10px;
}
.content-bottom{
    padding:0px 21px 0px 21px;
}
.div-item{
     margin-bottom: 10px;
    //  cursor: pointer;
}

.group-name{
    padding-bottom: 20px;
    padding-top: 25px;
}
.title{
    margin-bottom: 20px;
}

.tab-top-bar {
    position: sticky;
    top:0;
    z-index: 1;
}

.grp-holder {
    position:relative;
    left:0;
    top:-30px;
}

.search{
    margin-left: 10px;;
}


.div-item{
    margin-bottom: 10px;
}

.bottom-spacer {
    min-height: 50px;
}