.content{
    text-align: center;
}

.header{ 
    padding-bottom: 20px;
}

.body{
    padding-top: 30px;
    width: 100%;
}

.btn{
    width: 100%;
    padding-top: 20px;
}

.mat-raised-button{
    width: 100%;
}

.mat-form-field{
    width: 100%;
}

