
// @use '@angular/material' as mat;

// @include mat.core();

// @media (prefers-color-scheme: light) {
//     .page {

//     }
//   }
  
//   @media (prefers-color-scheme: dark) {
//     .page {
        
//     }
//   }


  .div-loads{
    width: 190px !important; 
  }

  .mat-spinner{
    padding-right: 5px;
  }

  .mat-icon{
    padding-right: 5px; 
  }