.loading-text{
    text-align: center;
    width: 100%;
}
.loading-retry{
    text-align: center;
    width: 100%;
    text-decoration: underline;
}
mat-progress-bar {
    width: 22px;
}
.content{
    padding: 20px;
}
.try-again{

}