
.forecast{
    padding-top: 20px;
}
.forecast-title{
    padding:5px 0px;
}
.time{
    padding:5px 0px;
}
.progress{
    padding:5px 0px;
}
.status{
    padding:5px 0px 0px 0px;
}
mat-expansion-panel-header{
    padding-top:0px;
    padding-bottom:0px;
}
.status-item{
    padding:10px 0px;
}
.status-time{
    text-align: right;
}
.address{
    margin: 10px 0px;
    padding:20px 10px
}
.address-card{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.order-type{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.address-detail{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.tracking{
    padding: 10px 15px;
}

.mat-card{
    padding-top: 20px;
}

.order-detail{
    text-align: left;
    padding-bottom: 10px;
}

.order{
    padding-bottom: 20px;
}

.payment{
    padding-top: 20px;
}

.payment-delivery{
    text-align: left;
}

.credit-card{
    text-align: right;
}

.total{
    text-align: left;
}

.sub-total{
    text-align: right;
}

.order-id{
    text-align: left;
}

.keyboard-arrow{
    text-align: right;
}