.content {
    padding: 0px 15px 0px 15px;
}
.item {
    padding: 0px 0px 5px 0px;
}
.title{
    padding-bottom: 10px;
}

.space-top {
    height: 1px;
    margin-bottom: 15px;
    padding: 0px;
}
.space-bottom {
    height: 10px;
}
