.title{
    padding: 10px;
}
.mat-raised-button {
    width: 100% !important;
}
.option{
     padding:10px 10px;
}
.button{
    padding: 10px;
}
.block{
    opacity: 0.3;
}
.btn {
    width: 100%;
    border: 0px;
}